  body {
    font-family: 'Open Sans', sans-serif;
    color: #0d586d;
    font-size: 20px;
  }
  h1{
    font-family: 'Passion One';
    color: #d9410c;
    font-size: 60px;
    text-shadow: 3px 2px 0px #fff, 6px 6px 0px rgba(0,0,0,0.15);
  }
  h2{
    margin: 10px 0 30px 0;
    /* letter-spacing: 10px;       */
    font-size: 30px;
    color: #0d586d;

  }
  h3, h4 {
    margin: 10px 0 30px 0;
    /* letter-spacing: 10px;       */
    font-size: 30px;
    color: #1c9bc6;
  }
  h5 {
    margin: 10px 0 30px 0;
    /* letter-spacing: 10px;       */
    font-size: 20px;
    color: #1c9bc6;
  }
  .card-text{
    margin: 10px 0 30px 0;
    /* letter-spacing: 10px;       */
    font-size: 15px;
    color: #1c9bc6;
  }
  .col-sm-3{
    width: 20%;
    margin: 15px;
  }
  .container {
    width: 90%;
    padding: 40px 85px;
  }
  .container2 {
    padding: 20px 30px;
    background-color:#137595;
    border-radius: 10px;
  }
  .container3 {
    padding: 5% 25%;
    
  }
  .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
  }
  .person:hover {
    border-color: #ffffff;
  }

  .bg-1 {
    background: #199cc4;
    color: #ffffff;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-family: 'Open Sans', sans-serif;}
  .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .btn {
    
    background-color: #ffffff;
    color: #137595;
    border-radius: 0;
    transition: .2s;
    
    bottom: 10px;
    left: 45%;
    justify-content: center;
    bottom: 0;
  
  }
  .btn:hover, .btn:focus {
    border: 1px solid #0d586d;
    background-color: #fff;
    color: #000;
  }
  
  .nav-tabs li a {
    color: #0d586d;
  }
 
  .navbar {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
    background-color: #137595;
    border: 0;
    font-size: 12px !important;
    /* letter-spacing: 4px; */
    /* opacity: 0.9; */
    padding: 0px 135px;
  }
  .navbar li a, .navbar .navbar-brand { 
    color: #ffffff !important;
  }
  .navbar-nav li a:hover {
    color: #fff !important;
  }
  .navbar-nav li.active a {
    color: #094253!important;
    background-color: #ffffff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .open .dropdown-toggle {
    color: #fff;
    background-color: #0d586d !important;
  }
  .dropdown-menu li a {
    color: rgb(255, 255, 255) !important;
    background-color: #094253 !important;
  }
  .dropdown-menu li a:hover {
    background-color: #137595 !important;
    
  }

  .card{
    background-color: #ffffff !important;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    height: 400px;
    
  }
  .card-img-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  footer {
    background-color: #137595;;
    color: #f5f5f5;
    padding: 10px;
  }
  footer a {
    color: #f5f5f5;
  }
  footer a:hover {
    color: #777;
    text-decoration: none;
  }  
  .form-control {
    border-radius: 0;
  }
  textarea {
    resize: none;
  }
  .icon-bar{
    color: #ffffff;
  }
  .card-bottom{
    position: absolute;
    bottom: 0;
    left: 95px;
  }
  .animal-link{
      color:#ffffff;
      text-decoration: underline;
  }